# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules/

# testing
coverage/

# zip
zip/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.history

# secrets
secrets.*.js

.env
.flaskenv
*.pyc
*.pyo
env/
venv/
venv_win/
venv_mac/
.venv/
env*
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover