.professor-rating {
  margin-left: 10px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
}

.tooltip-content {
  display: block; 
  opacity: 0; 
  transform: scale(0.95); 
  position: absolute;
  z-index: 1;
  color: white;
  background-image: radial-gradient(circle, #146091, #115480);
  color: black;
  border: none;
  padding: 5px;
  border-radius: 5px;
  margin-top: -23px !important;
  right: 35%;
  box-shadow: 4px 5px 14px 0px rgba(0, 0, 0, 0.10), 16px 21px 26px 0px rgba(0, 0, 0, 0.09), 35px 47px 35px 0px rgba(0, 0, 0, 0.05), 62px 84px 42px 0px rgba(0, 0, 0, 0.01), 97px 131px 46px 0px rgba(0, 0, 0, 0.00);
  transition: opacity 0.2s, transform 0.2s; 
}

.professor-rating:hover .tooltip-content {
  opacity: 1; 
  transform: scale(1); 
}

.highlight {
  color: #146091;
}
